<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Show Term</title>
</head>

<body>
  <a href="/">Home</a>
  <a href="/terms">Index</a>
  <h1>{{name}}</h1>
  <h2>{{definition}}</h2>
  <a href="/terms/{{id}}/edit"><button>Edit</button></a> 
  <form action="/terms/{{id}}?_method=DELETE" method="POST">
    <button>Delete Term</button>
  </form>
</body>

</html>